<article class="main">
  <header class="container">
    <h1>SCUT Documentation</h1>
    <p>You will be happy.</p>
  </header>
  {{#each categories}}
  <section class="container">
    <h2>
      <a href="#{{category}}" id="{{category}}" class="inner-anchor">
        {{slugToWords category}}
      </a>
    </h2>
    {{#each items}}
    {{#if group-start}}
    <h3 class="group--h">
      <a href="#{{group-start}}" id="{{group-start}}" class="inner-anchor">
        {{slugToWords group-start}}
      </a>
    </h3>
    {{/if}}
    <section class="doc-i">
      <header class="doc-i--h">
        <a href="{{../../github-url}}/{{../category}}/_{{underscoresToHyphens name}}.scss" target="_blank" class="source">view source</a>
        <h3>
          <a href="#{{name}}" id="{{name}}" class="inner-anchor">
            {{slugToWords name}}
          </a>
        </h3>
      </header>
      {{>entry}}
    </section>
    {{/each}}
  </section>
  {{/each}}
</article>