<section class="info">

  <dl class="info-list">
    {{#if use-name}}
    <dt class="info--label m-help js-help-btn" data-term="use-name" data-dir="open">
      use-name
    </dt>
    <dd class="info--value">
      <code>{{use-name}}</code>
    </dd>
    {{/if}}

    {{#if type}}
    <dt class="info--label m-help js-help-btn" data-term="type" data-dir="open">
      type
    </dt>
    <dd class="info--value">
      {{type}}
    </dd>
    {{/if}}

    {{#if args}}
    <dt class="info--label m-help js-help-btn" data-term="arguments" data-dir="open">
      arguments
    </dt>
    <dd class="info--value">
      <ol class="args">
        {{#each args}}
        <li>
          <code class="args--name">{{variable}}</code>
          {{#if this.default}}
          [&nbsp;<span class="args--default">default:</span> <code class="args--default--val">{{this.default}}</code>&nbsp;]
          {{/if}}
          {{#if comment}}
          <div class="args--comment">{{#markdown}}{{{comment}}}{{/markdown}}</div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </dd>
    {{/if}}

    {{#if contentblock}}
    <dt class="info--label m-help js-help-btn" data-term="contentblock" data-dir="open">
      @content
    </dt>
    <dd class="info--value">
      {{#markdown}}{{{contentblock}}}{{/markdown}}
    </dd>
    {{/if}}

    {{#if compatibility}}
    <dt class="info--label">
      compatibility
    </dt>
    <dd class="info--value">
      {{#markdown}}{{{compatibility}}}{{/markdown}}
    </dd>
    {{/if}}

  </dl>
</section>

<section class="description">
  {{#markdown}}{{{text}}}{{/markdown}}
</section>

{{#if example}}
<section class="example">
  <h4>Example</h4>
  {{#with example}}
  {{#if show-html}}
  <div class="example--html">
    <h5>HTML</h5>
    <pre><code class="language-markup">{{html}}</code></pre>
  </div>
  {{/if}}
  <div class="example--scss">
    <h5>SCSS</h5>
    <pre><code class="language-scss">{{getExampleScss ../name}}</code></pre>
  </div>
  <div class="example--disp">
    <h5>Result</h5>
    <div class="example--disp--inner">{{{html}}}</div>
  </div>
  {{/with}}
</section>
{{/if}}

{{#if references}}
<footer>
  <h4>References</h4>
  <ul class="refs">
    {{#each references}}
    <li>
      <a href="{{url}}" class="refs--i">
        {{#markdown}}{{{description}}}{{/markdown}}
      </a>
    </li>
    {{/each}}
  </ul>
</footer>
{{/if}}