<article class="main overthrow">

  <section class="container intro" id="main">
    {{>intro}}
  </section>

  {{#each categories}}
  <section class="container">
    <h2>
      <a href="#{{category}}" id="{{category}}" class="inner-anchor m-category">
        {{slugToWords category}}
      </a>
    </h2>
    {{#each items}}
    {{#if group-start}}
    <h3 class="group--h">
      <a href="#{{group-start}}" id="{{group-start}}" class="inner-anchor m-group">
        {{slugToWords group-start}}
      </a>
    </h3>
    {{/if}}
    <section class="doc-i" id="{{name}}">
      <header class="doc-i--h">
        <a href="{{../../github-url}}{{../../version}}/src/{{../category}}/_{{underscoresToHyphens name}}.scss" class="source">view source</a>
        <h3>
          <a href="#{{name}}" class="inner-anchor m-util">
            {{slugToWords name}}
          </a>
        </h3>
      </header>
      <div class="entry-body">
        {{>entry}}
      </div>
    </section>
    {{/each}}
  </section>
  {{/each}}

</article>

{{>help}}