---
layout: base.hbs
entry: true
title: "scut-<%= slug %>, a Scut Utility"
description: "scut-<%= slug %>: <%= summary %>"
---

<article role="main" class="site-main entry">

  <header>

    <h1 class="entry-title">{{name}}</h1>

    <a class="btn source-btn" href="{{github-url}}{{version}}/src/{{page.categories}}/_{{slug}}.scss">
      view source
    </a>

    <div class="summary">
      {{#markdown}}{{{summary}}}{{/markdown}}
    </div>

    <dl class="info-list">
      <dt>use-name</dt>
      <dd>
        <code>scut-{{slug}}</code>
      </dd>

      {{#if type}}
      <dt>type</dt>
      <dd>{{type}}</dd>
      {{/if}}

      {{#if args}}
      <dt>arguments</dt>
      <dd>
        <ol class="args-list">
          {{#each args}}
          <li>
            <code>{{variable}}</code>
            {{#if this.default}}
            <dl class="default">
              <dt>default</dt>
              <dd>
                <code>{{this.default}}</code>
              </dd>
            </dl>
            {{/if}}
            {{#if comment}}
            <div class="args-comment">{{#markdown}}{{{comment}}}{{/markdown}}</div>
            {{/if}}
          </li>
          {{/each}}
        </ol>
      </dd>
      {{/if}}

      {{#if contentblock}}
      <dt>@content</dt>
      <dd>{{#markdown}}{{{contentblock}}}{{/markdown}}</dd>
      {{/if}}

      {{#if compatibility}}
      <dt>compatibility</dt>
      <dd>{{#markdown}}{{{compatibility}}}{{/markdown}}</dd>
      {{/if}}

    </dl>

  </header>

  <section>
    {{#markdown}}{{>body}}{{/markdown}}
  </section>

  {{#if example}}
  <section id="example">
    <h2>example</h2>
    {{#if example.show-html}}
    <h3>HTML</h3>
    <pre><code class="language-markup">{{removeFirstBlank example.html}}</code></pre>
    {{/if}}
    <div id="exampleScss">
      <h3>SCSS</h3>
      <pre><code class="language-scss">{{getExampleScss slug}}</code></pre>
    </div>
    <div id="exampleCss" class="example-css is-hidden">
      <h3>compiled CSS</h3>
      <pre><code class="language-css">{{{getExampleCss slug}}}</code></pre>
    </div>

    <h3 id="resultHeading">Result</h3>
    <div class="result">{{{example.html}}}</div>
  </section>
  {{/if}}

  {{#if references}}
  <footer>
    <h2>References</h2>
    <ul class="refs">
      {{#each references}}
      <li>
        <a href="{{url}}">
          {{{description}}}
        </a>
      </li>
      {{/each}}
    </ul>
  </footer>
  {{/if}}

</article>